.container
	.carousel
		.carousel__add
		.carousel__add
		.carousel__add
	.video_container
		.video
			img(class="img" src="https://static.platzi.com/media/user_upload/Proyecto-EJ-04ffb9c0-5986-4279-b18a-9e8fb039cde2.jpg" alt="image")
			.details
				span.title Curso profesional de Front End
				span.canal Platzi
				.information
					span.reproducciones 1,000,000 de vistas
					span.time Hace 1 dia
		.video
		.video
		.video
		.video
		.video
		.video
		.video
		.video
		.video
		.video
		.video
		.video