mixin video
    .video
        img(class="img" src="https://static.platzi.com/media/user_upload/Proyecto-EJ-04ffb9c0-5986-4279-b18a-9e8fb039cde2.jpg" alt="image")
        .details
            span.title Curso profesional de Front End
            span.canal Platzi
            .information
                span.reproducciones 1,000,000 de vistas
                span.time Hace #{num} dia

head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Muli&display=swap", rel="stylesheet")
    link(rel="stylesheet" href="./css/styles.css")
    title Platzi Video
  
