header.header
	img(class="header__img" src="./assets/logo_platzi_video.png" alt="Platzi Video")
	input(type="search" class="input" placeholder="Buscar")
	.header__menu
		.header__menu--profile
			img(src="./assets/user.png" alt="User")
			p Perfil
		ul
			a(href="/")
				li Cuenta
			a(href="/")
				li Cerrar Sesión